{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "browser": false,
    "node": true
  },
  "globals": {
    "VERSION": true,
    "ENV": true,
    "ENV_DEVELOPMENT": true,
    "ENV_PRODUCTION": true
  }
}
